<%- include('ek/header', {bot, user, path}) %>
    <div class="nblana" align="left">
      <div class="nblin">
        <h1><font color="White" size="6px">CodeBook Botlist - Hakkımızda</font></h1>
        <br>
        <p>
          <font color="White" size="3px">GT-Team 2020 yılında kurulmuştur. Discord adlı platformda geliştiriciler için kodlar paylaşmaktadır. Bu sitede ise geliştiricilerin yaptıkları botları bulunmaktadır. Sunucumuzda toplam +200'den Fazla kod bulunmaktadır ve +200'den fazla kullanıcı bulunmaktadır.
        <p>
  </body>
<% include ./ek/footer %>
